.f-36 {
    font-size: 36px;
}

.f-34 {
    font-size: 34px;
}

.f-14 {
    font-size: 14px;
}

.lh-2 {
    line-height: 2;
}

.br-25 {
    border-radius: 25px;
}

.pointer {
    cursor: pointer;
}

.bg-grey {
    background-color: rgb(207, 207, 207);
}

.border-grey {
    border: 1px solid rgb(207, 207, 207);
}

.color-green {
    color: green;
}

.color-grey {
    color: rgb(207, 207, 207);
}

.image-wrapper-100 {
    position: relative;
    padding-top: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-wrapper-60 {
    padding-top: 60%;
    position: relative;
}

.image-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-card {
    height: 250px;
    transition: 0.3s;

    &:hover {
        transform: translateY(-10%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: transparent !important;
    }
}

.recycle-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 265px;
}

.recycle-slider {
    .row {
        min-height: 200px;
    }

    .offset-2 {
        padding-left: 0px;
    }

    .step-text {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    }
}

// slick slider 

.slick-next {
    right: 40px !important;
}

.slick-prev {
    left: 40px !important;
}

.slick-next,
.slick-prev {
    z-index: 2;
    top: 85% !important;
}

.slick-next:before,
.slick-prev:before {
    color: green;
}

.recycle-image {
    img {
        height: 100%;
        width: 100%;
    }
}

.step-img-pos {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.step-image {
    img {
        height: 150px;
        width: 150px;
    }
}

.confirmed-image {
    img {
        height: 100%;
        width: 100%;
    }
}

.product-details {
    .main-image {
        transition: 0.4s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .small-image {
        transition: 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width:768px) {
    .counter-card {
        height: 150px;
    }

    .step-img-pos {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}



// new css 

.category {
    img {
        max-width: 50px !important;
    }
}